    /*****リセット用CSS*****/
    * {
        box-sizing: border-box;
        /* ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
    }

    body {
        margin: 0;
        padding: 0;
        font-family: serif, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial;
    }
    /******全体のデザイン******/
    .all {
        position: relative;
        width: 100%;
        height: auto !important;
        height: 100%;
        min-height: 100%; 
    }

    .wrapper {
        min-height: 100vh;
        /* コンテンツの高さの最小値＝ブラウザの高さに指定 */
        position: relative;
        /* 相対位置 */
        padding-top: 70px;
        /* ヘッダー、フッターの高さを指定 */
        overflow: hidden;
    }
    a {
        text-decoration: none;
        color: #f0eeee;
    }
    /******ヘッダーデザイン******/
    header {
        width: 100%;
        padding: 10px 0;
        z-index:10;
        background-color: #1b1b1b;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
    }
    header h1 {
        padding: 0;
        font-size: 40px;
        margin: auto 0 auto 20px;
        font-family: cursive;
        font-weight: bold;
    }
    header p {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
    }
    header ul {
        list-style: none;
        margin: 0;
        display: flex;
    }
    header li {
        margin: 0 0 0 15px;
        font-size: 14px;
        font-weight: bold;
        padding-top: 20px;
    }
    header nav {
        margin: 0 0 0 auto;
    }

    .header-user-name{
        color: white;
    }

    .header_logo{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: auto 0 auto 10px;
    }

    main h2 {
        text-align: center;
        margin: 30px 0 50px 0;
    }

    main h3 {
        text-align: center;
    }

    .quantitySelection {
        margin: 50px 0;
    }

    .inputNumber {
        width: 60px;
        margin: 0 10px;
    }

    .itemTable {
        margin-top: 10px;
    }

    .table-header {
        background-color: #ffd900;
    }

    /*---------------------フッター----------------------*/
    footer {
        width: 100%;
        padding: 5px 10px;
        background-color: #1b1b1b;
        position: relative;
        bottom: 0;
        color: #f0eeee;
        z-index: 1000;
    }
    footer h1 {
        padding: 0;
        font-size: 30px;
        font-weight: bold;
        font-family: cursive;
    }
    footer p {
        text-align: right;
        font-weight: bold;
        margin: 0 auto;
    }

    /*--------------------main------------------------*/
    main{
        width: 100%;
        padding: 0;
    }

    .row{
        font-size: 14px;
        line-height: 30px;
    }
    .edit-content-title{
        width: 35%;
        height: auto;
        display: inline-block;
        margin-bottom: 5px;
        vertical-align: top;
    }
    .edit-content-text{
        width: 60%;
        height: auto;
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .title-name{
        width: 70%;
        text-align: center;
        display: inline-block;
    }
    .title-name-text{
        width: 20%;
        text-align: right;
        float: right;
    }
    .title-address{
        width: 100%;
        text-align: right;
        display: inline-block;
    }
    #address-text{
        line-height: 15px !important;
    }

    /**--------------------before_login---------------------*/
    .before_login_top{
        width: 100%;
        height: auto;
        background-color: black;
        margin: 0;
    }

    .before_login_left{
        height: 500px;
        display: inline-block;
    }

    .top_meat_image{
        width: 600px;
        height: auto;
        margin: 70px auto 0;
    }

    .before_login_right{
        height: 500px;
        display: inline-block;
    }

    .before_login_subtitle{
        font-size: 40px;
        margin-top: 100px;
        font-family: serif;
    }

    .before_login_container{
        margin-bottom: 150px;
    }

    .before_login_concept_content{
        margin-bottom: 100px;
    }

    .login-link{
        height: auto;
        margin-bottom: 100px;
    }

    .btn-border {
        display: inline-block;
        width: 200px;
        text-align: center;
        border: 2px solid #007bff;
        font-size: 16px;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 4px;
        transition: .4s;
    }
    
    .btn-border:hover {
        background-color: #007bff;
        border-color: #007bff;
        color: #FFF;
    }

    .before_login_photo{
        width: 100%;
        height: auto;
    }

    .before_login_concept{
        margin: 0 auto;
        text-align: center;
        width: 25%;
        color: #424242;
        font-size: 36px;
        font-weight: bold;
        border-bottom: solid 4px #424242;
    }
    
    .before_login_concept_text{
        letter-spacing: 0.2em;
        line-height: 1.7em;
        font-size: 20px;
        text-align: justify;
    }

    
    /**--------------------home---------------------*/

    .home_logo{
        display: inline-block;
        box-shadow: 15px 15px 15px;
        border:1px solid #000;
    }  

    .home-right{
        height: auto;
    }

    
    
    .home-button{
        margin-top: 70px;
        width: 300px !important;
        
    }
    
    /**--------------------iteminfo---------------------*/
    .iteminfo-main{
        display: inline-block;
        height: 450px;
    }
    
    .iteminfo-text{
        font-size: 20px;
    }
    
    .iteminfo-text-font{
        font-weight: bold;
    }
    
    /**--------------------searchproduct---------------------*/
    .search-text-font{
        font-size: 20px;
    }
    
    
    /**--------------------user-info---------------------*/
    .user-info-text{
        font-size: 20px;
    }
    
    /**--------------------cartlist---------------------*/
    .cartlist-text{
        font-size: 16px;
    }
    
    @media (max-width: 1200px) {
        .top_meat_image{
            width: 450px;
            height: auto;
            margin: 70px auto 0;
        }
    }
    @media (min-width: 992px) {
        .before_login_title{
            font-size: 58px;
            color: white;
            margin-top: 100px;
            margin-left: 100px;
        }
        .before_login_text{
            font-size: 24px;
            color: white;
            font-family: serif;
            margin-top: 100px;
            margin-left: 100px;
        }
    }

    @media (max-width: 992px) {
        .before_login_concept_text {
            font-size: 16px;
        }
        .before_login_title{
            font-size: 40px;
            color: white;
            margin-top: 100px;
            margin-left: 50px;
        }
        .before_login_text{
            font-size: 26px;
            color: white;
            font-family: serif;
            margin-top: 100px;
            margin-left: 50px;
        }
        .before_login_concept_text {
            font-size: 18px;
        }
        .login-link h4 {
            font-size: 20px;
        }
        .login-link-content {
            margin-bottom: 50px;
        }
        .before_login_subtitle {
            font-size: 30px;
        }
    }

    @media (max-width: 768px) {
        .before_login_left{
            height: auto;
            display: inline-block;
        }
        .before_login_right{
            height: auto;
            display: inline-block;
        }
        .before_login_title{
            font-size: 40px;
            color: white;
            margin-top: 50px;
            margin-left: 50px;
        }
        .before_login_text{
            font-size: 26px;
            color: white;
            font-family: serif;
            margin-top: 70px;
            margin-left: 50px;
        }
        .top_meat_image{
            width: 450px;
            height: auto;
            margin: 30px auto 0;
        }
        .before_login_concept {
            margin: 0 auto;
            text-align: center;
            width: 50%;
            color: #424242;
            font-size: 28px;
            font-weight: bold;
            border-bottom: solid 4px #424242;
        }
        .login-link h4 {
            font-size: 24px;
        }
        .login-link-content {
            margin-bottom: 50px;
        }
        .before_login_subtitle {
            font-size: 30px;
        }
    }
    
    @media (max-width: 544px) {
        .before_login_title{
            font-size: 40px;
            color: white;
            margin-top: 100px;
            margin-left: 50px;
        }
        .before_login_text{
            font-size: 18px;
            color: white;
            font-family: serif;
            margin-top: 70px;
            margin-left: 50px;
        }
        .top_meat_image{
            width: 380px;
            height: auto;
            margin: 30px auto 0;
        }
        .before_login_subtitle {
            font-size: 22px;
        }
        .login-link h4 {
            font-size: 16px;
        }
        .login-link-content {
            margin-bottom: 50px;
        }
        .home-right h2 {
            font-size: 28px;
        }
        .header_title{
            font-size: 24px;
        }
        .header_logo{
            width: 35px;
            height: 35px;
        }
        header li{
            font-size: 12px;
        }
    }
    